@page "/stores"

@using eShop.Client.Client.Components
@using eShop.Client.Client.Components.ProductTable
@using Microsoft.AspNetCore.Authorization
@using SharedAPI.Data_Transfer
@using SharedAPI.Request_Features
@using eShop.Client.Client.Components.StoreTable

@attribute [Authorize]

<h3>Stores</h3>
<div class="row">
    <div class="col-md-5">
        <Search OnSearchChanged="SearchChanged" />
    </div>
    @if (StoreList.Any())
    {
        if (!StoreList[0].storeOwner)
        {
            <div class="col-md-2">
                <a href="/CreateStore">Create Store</a>
            </div>
        }
    }
</div>
<div class="row">
    <StoreTable Stores="StoreList" />
</div>
<div class="row">
    <div class="col">
        <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
    </div>
</div>
