@using Microsoft.AspNetCore.Components.Authorization
@using eShop.Client.Client.HttpRepository;
@inject IShoppingCartService ShoppingCartService
@implements IDisposable

<CascadingAuthenticationState>
<AuthorizeView>
    <Authorized>
<a href="cart" class="btn btn-info" style="background-color:blue;">
    <i class="oi oi-cart" style="color:white;"></i>&nbsp;<span style="color:white;">Cart</span>
    <span class="badge bg-dark">@shoppingCartItemCount</span>
</a>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>

@code {
    private int shoppingCartItemCount = 0;

    protected override void OnInitialized()
    {
        ShoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
    }

    protected void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        ShoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }

}