@using eShop.Client.Client.Components
@inherits LayoutComponentBase

<div class="page">
    <div style="background-image:none;background-color:blue;" class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthLinks />
            <CartMenu />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
