@using Microsoft.AspNetCore.Components.Authorization
@using SharedAPI.Data_Transfer;
@using eShop.Client.Client.HttpRepository;
@implements IDisposable
@inject ICategoryRepository category
@inject IShoppingCartService shoppingCartService
@inject NavigationManager navManager
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        @* <img src="/Images/IMG_0220 (1).jpg"/><span style="color:white;">BU E-Store</span> *@
        <span class="oi oi-cart" style="font:normal; color:white;">EazyBiz Invoicer</span>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <CascadingAuthenticationState>
        <AuthorizeView Roles="User">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="stores">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 2048 2048"><path fill="currentColor" d="M1152 0q79 0 149 30t122 82t83 123t30 149v128h256v640h-128V640h-256v768h-128V640H256v1152q0 27 10 50t27 40t41 28t50 10h640v128H384q-53 0-99-20t-82-55t-55-81t-20-100V512h256V384q0-79 30-149t82-122t122-83T768 0q104 0 193 52q89-52 191-52m256 384q0-53-20-99t-55-82t-81-55t-100-20q-45 0-85 15q29 36 46 71t25 70t11 71t3 77v80h256zM512 512h512V384q0-53-20-99t-55-82t-81-55t-100-20q-53 0-99 20t-82 55t-55 81t-20 100zm1536 896v640h-128v-640zm-384-128h128v768h-128zm-256 256h128v512h-128zm-256 256h128v256h-128z" /></svg> &nbsp;&nbsp; &nbsp; Stores
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" @onclick="()=>expandSubNav = !expandSubNav">
                        <span class="oi oi-collapse-down" aria-hidden="true"></span> Categories
                    </NavLink>
                    </div>
                    @if (expandSubNav)
                    {
                        @if(Categories != null)
                        {
                            @foreach(var category in Categories)
                            {
                                <div class = "nav-item px-3">
                                    <NavLink class="nav-link expand-menu" @onclick="() => GoToCategory(category.Id)">
                                        <span>@category.Name</span>
                                    </NavLink>
                                </div>
                            }
                        }
                    }
                    <div class="nav-item px-3">
                        <NavLink class="nav-link" href="reports">
                             <span class="oi oi-list" aria-hidden="true"></span> Reports
                        </NavLink>
                    </div>
            </Authorized>
        </AuthorizeView>
        </CascadingAuthenticationState>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private List<CategoryDto> Categories = new();

    private int shoppingCartItemsCount = 0;

    private bool expandSubNav;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    protected override async Task OnInitializedAsync()
    {
        shoppingCartService.OnShoppingCartChanged += ShoppingCartChanged;
        Categories = await category.GetCategories();
    }

    private void ShoppingCartChanged(int totalQty)
    {
        shoppingCartItemsCount = totalQty;
        StateHasChanged();
    }

    void IDisposable.Dispose()
    {
        shoppingCartService.OnShoppingCartChanged -= ShoppingCartChanged;
    }

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void GoToCategory(Guid Id)
    {
        navManager.NavigateTo($"categories/{Id}/products");
    }
}
